@charset "utf-8";

.information {
}

.movie_image {
	width: 30%;
	min-width: 300px;
	float: left;
	margin-right: 4%;
}
.movie_image img {
	max-width: 100%;
	height: auto;
}

.movie_information {
	width: 66%;
	min-width: 400px;
	float: left;
}
.movie_information p {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 2%;
}

.movie_information .info_group {
	position: relative;
	line-height: 30px;
	margin-bottom: 1.2%;
}
.movie_information .info_group dt {
	font-size: 18px;
	color: #696969;
	float: left;
}
.movie_information .info_group dd {
	font-size: 18px;
	margin-left: 90px;
}

.ranking {
}
.ranking p {
	text-align: center;
	font-size: 21px;
	font-weight: 500;
	margin-bottom: 5%;
}

.ranking table {
	width: 32%;
	min-width: 300px;
	float: left;
	margin-right: 2%;
	margin-bottom: 3%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
}
.ranking table:nth-child(3n+1) {margin-right: 0;}

.ranking table thead tr {
	line-height: 48px;
	font-size: 17px;
	color: #fff;
	background-color: #545454;
}
.ranking table tbody tr {
	line-height: 42px;
}
.ranking table tbody tr:hover {
	cursor: pointer;
	background-color: #F5F5F5;
}
.ranking table tbody tr td:nth-child(1) {
	width: 10%;
	text-align: center;
	border-right: 1px solid #545454;
}
.ranking table tbody tr td:nth-child(2) {
	padding-left: 12px;
}
